@media screen and (min-width: 40em) {
  .paper--quickview {
    height: 260px;
    width: 580px;
  }

  .actionsContainer--quickview {
    padding: 0 2rem 2rem 2rem;
  }
}

@media screen and (min-width: 50em) {
  .paper--quickview {
    height: 450px;
    width: 900px;
  }
}


@media screen and (min-width: 75em) {
  .paper--quickview {
    width: calc(100% - 4rem);
    height: auto;
  }
}

@media screen and (min-width: 82em) {
  .actionsContainer--quickview {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}

.paper--quickview {
  min-width: 320px;
  max-width: 96rem;
}

.headerContainer--quickview {
  border: none;
  position: absolute;
  right: 0;
}

.actionsContainer--quickview {
  height: 100%;
  width: 100%;
  transition: box-shadow 150ms ease-in-out, border-top 150ms ease-in-out;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;
  box-shadow: -4px 0px 27px -12px transparent;
}

.actionsContentWrapper {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #aaa;
  padding-top: 1.5rem;
}

.contentContainer--quickviewContent {
  padding: 2.5rem 0 2.5rem 2rem;
  overflow-x: hidden;
}

.triggerContainer--quickview {
  padding: .75rem;
}

.triggerContainer {
  outline: none;
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) {
  border-top-color: rgb(238, 238, 238);
  box-shadow: -4px 0px 27px -12px rgba(0,0,0,0.64);
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) .actionsContentWrapper {
  border-top-color: transparent;
}

.closeButton {
  padding-right: 1rem;
}

.paper--product-gifts {
  padding: 1.5rem;
}

.triggerContainer--quickview{
  width: 100%;
}

.paperScrollContent {
  overflow: hidden;
}

.headerContainer{
  z-index: 3000;
  background-color: rgba(240,240,240,0.8);
  box-shadow: 0 4px 5px rgba(0,0,0,0.1);
  /* margin: 0px 1% 15px 1% ; */
  border-radius: 0px 0px 5px 5px ;
}

.paper {
  background-color: #FAFAFA;
}

.paper--cookie-block-class{
  margin: 0px;
  background: rgba(0,0,0,.9);
  padding: 0px;
  position: relative;
}

.modal--cookie-block-class{
  position: fixed;
  inset: 0px;
  z-index: 1300;
  bottom: 0px !important;
  height: fit-content !important;
  top: auto !important;
}

.hiddenContainer{
  overflow: scroll;
}

.headerContainer--cookie-modal{
  width: fit-content;
  border-radius: 40px;
  margin-right: 0px;
  margin-left: auto;
  margin-top: 10px;
  height: 32px;
}

.headerContainer--cookie-modal .closeButton--cookie-modal{
  padding: 0px;
}

.closeButton--cookie-accept{
  padding: 0px;
}

.paper--newsletter-block-class{
  padding: 40px;
  position: relative;
}

.headerContainer--newsletter-modal{
  width: fit-content;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #000;
  border-radius: 0px;
}

.closeButton--newsletter-modal{
  padding: 0px;
}

.closeIcon--newsletter-modal{
  color: #fff;
}

@media only screen and (max-width: 640px) {
  .headerContainer--cookie-modal{
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .paper--cookie-block-class{
    padding: 15px;
  }
}