.relatedProducts :global(.vtex-product-summary-2-x-containerNormal){
    padding: 10px;
}

.relatedProducts .title{
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 0px 10px;
    color: #000;
}

.relatedProducts :global(.vtex-product-summary-2-x-imageNormal){
    max-height: unset !important;
}

.relatedProducts .shelfContentContainer{
    padding: 30px;
}

.title--same-products-shelf{
    font-size: 0.75rem !important;
    color: #000;
    text-transform: uppercase ;
    padding: 30px 0px 10px !important;
}

.shelfContentContainer--same-products-shelf{
    padding: 0px !important;
}

.sliderContainer--same-products-shelf :global(.vtex-slider-0-x-dotsContainer), .sliderContainer--same-products-shelf .dot{
    display: none;
}

.sliderContainer--same-products-shelf :global(.vtex-slider-0-x-sliderFrame){
    display: flex;
    justify-content: flex-start;
}