.container--atendimento-neoassist{
    height: 1400px;
}

.container--iframe-boleto{
    height: 1000px;
}

.container--iframe-exchange{
    height: 1200px;
}

@media screen and (min-width: 640px) {
    .container--atendimento-neoassist{
        height: 1200px;
    }

}