.productBrand{
  font-family: calvin-klein;
}

.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  } 
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2E2E2E;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

.container{
  max-width: 500px !important;
}

.imageStackContainer , .imageNormal{
  width: 100%;
}

.imageNormal{
  height: auto !important;
}

.productNameContainer{
  display: flex;
  justify-content: center;
}

.nameContainer{
  padding-top: 7px;
}

.productBrand{
  font-size: 15px;
  padding: 0px 10px;
  line-height: 1.4;
}

.element :global(.vtex-button){
  margin: 0px 55px;
  width: auto;
  border-radius: 0px;
}

.element--minicart{
  display: flex;
  flex-direction: row;
}

.element--minicart .imageNormal{
  max-height: 140px !important;
}

.element--minicart .imageContainer{
  max-width: 170px;
}

.element--minicart .productBrand{
  padding: 0px 40px 0px 0px;
}
.valueWrapper--quickview{
  padding: 15px;
}

.hoverEffect{
  z-index: 9;
}

.diagonalCross{background:#bebebe; pointer-events: none;}
.diagonalCross::before, 
.diagonalCross::after{background-color: rgb(255, 255, 255);content: "";height: 1px;left: 50%;position: absolute;top: 50%;width: 65%;z-index:2;}
.diagonalCross::before{transform: translate(-50%) rotate(40deg);}
.diagonalCross::after{transform: translate(-50%) rotate(-40deg);}

.element--same-products {
  padding: 0px;
}

.container--same-products{
  padding: 0px !important;
}

@media only screen and (min-width: 940px) {
  .productBrand{
    padding: 0px 55px;
  }

  .imageStackContainer , .imageNormal{
    width: 100%;
    max-height: unset !important;
  }
}



