.label{
    font-family: calvin-klein;
}

.buttonLink{
    padding: 0px;
}

.label{
    padding: 0px;
    height: 20px;
    display: flex;
    align-items: flex-end;
    color: #000;
}

.container{
    margin-left: 15px;
}

.profile{
    display: block;
    color: #000;
}



@media only screen and (max-width: 640px) {
    .label{
        font-size: 16px;
        color: #000;
        display: block;
    }

    .container{
        background: #e6e6e6;
        padding: 5px 0px;
        margin: 0px 0px 20px;
    }

    .profileIcon--mobile{
        color: #000;
    }
}