.listContainer--container-tabsDescription{justify-content: left;}
.listItem{border: 1px solid #ccc;font-size: 12px;text-transform: uppercase;margin-top: 10px;padding: 0;width: auto;display: inline-flex;    }
.listItemActive{border-color:#000;outline: #000 solid 1px;}
.listItemActive :global(.vtex-button){background:none;color:#000;border:0;}