.emailInputContainer :global(.vtex-input-prefix__group){
    border: 0px;
    border-bottom: 1px solid #000;
}

.emailInputContainer :global(.vtex-styleguide-9-x-input){
    color: #000;
    background-color: #fff0;
}

.confirmationCheckboxContainer :global(.vtex-checkbox__line-container){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 10px 0px;
}

.confirmationCheckboxContainer :global(.vtex-checkbox__label){
    color: #000;
}

.labelLink{
    color: #000;
}

.formSubmitContainer :global(.vtex-button){
    background: #0000;
    border: #0000;
}

.defaultSuccessMessage{
    color: #fff;
}

.confirmationCheckboxContainer :global(.vtex-checkbox__box-wrapper){
    border: 1px solid #000;
}

.formSubmitContainer :global(.vtex-button__label){
    color: #000
}

