.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

.paragraph--top-message{
  margin: 4px 0px;
  color: #fff;
  font-size: 12px;
}

.link--top-message{
  color: #d1d1d1;
}

.paragraph--titles-page{
  text-align: center;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.container--titles-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph--footer-title{
  font-size: 15px;
  font-weight: 600;
  padding-left: 20px;
}

.paragraph--footer{
  font-size: 13px;
}

.paragraph--footer-text{
  margin: 0px;
  font-size: 13px;
  padding-left: 20px;
}

.container--shelfTitle{
  display: flex;
  align-items: center;
  justify-content: left;
}

.heading--shelfTitle{
  margin-bottom: 0px;
  font-size: 50px;
  font-weight: 600;
  color: #000;
}

.paragraph--shelfTitle{
  text-align: left;
  margin: 0px;
  color: #000;
}

.container--shelf-buttons .paragraph, .container--shelf-buttons .link{
  background: #0000;
  border: 1px solid #000;
  border-radius: 0px;
  transition: 0.5s;
  padding-top: .25em;
  padding-bottom: .32em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
}

.container--shelf-buttons .paragraph:hover, .container--shelf-buttons .link:hover{
  background: #000;
  color: #fff;
}

.container--newsletter-text{
  position: absolute;
  color: #fff;
  bottom: 70px;
  width: 100%;
  font-size: 12px;
  margin: 0px auto;
}

.paragraph--newsletter-text{
  padding: 0px 18px;
}

.wrapper--atendimento-footer{
  margin: 0px 10px;
  font-size: 14px;
}

.container--outlet-title , .container--outlet-text , .container--outlet-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph--outlet-buttons{
  text-align: center;
}

.wrapper--outlet-buttons{
  width: 100%;
}

@media only screen and (min-width: 640px) {

  .container--newsletter-text{
    position: absolute;
    color: #fff;
    bottom: 70px;
    width: 430px;
    font-size: 12px;
    margin: 0px auto;
    left: 33.5%;
  }

  .paragraph--newsletter-text{
    padding: 0px 0px
  }

  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}
