.badgeText{
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    font-size: 12px;
    background-color: #233248;
    color: #fff;
}

.groupContainer--specification-badge-product{
    margin: 25px 0px 0px 0px;
}

.badgeText--specification-badge-product{
    margin: 0px !important;
    font-size: 15px;
    position: relative;
}

.badgeText--same-products{
    margin: 0px;
    position: relative;
}

.badgeText--same-products{
    margin: 0px !important;
    padding: 15px;
    background: #fff;
    color: #000;
    border: 1px solid #ddd;
    width: 100%;
}

@media screen and (min-width: 40em) {
    .badgeText{
        top: 0px;
        margin: 45px;
    }
}