.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #ffffff;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--newsletter-box :global(.vtex-store-components-3-x-container){
  padding: 100px 0px 150px !important;
}

.flexRowContent--newsletter-box{
  position: relative;
}

.flexRowContent--footer-logo-flex .stretchChildrenWidth{
  display: flex;
  justify-content: left;
}

.flexCol--footer-col-layout .flexColChild{
  height: auto !important;
}

.flexRow--credits{
  margin-top: 30px;
  background: #e6e6e6;
  padding: 10px 20px;
}

.flexRow--payment-methods{
  padding: 20px 20px 0px;
}

.flexRow--shelf-right{
  max-width: 500px;
  margin: 0px auto;
  margin-top: 45px;
}

.flexRow--flex-outlet{
  background: #eaeaea;
}

.flexRow--main-header-mobile{
  border-bottom: 1px solid #dedede;
}

.flexRowContent--price-summary-row{
  padding: 0px 55px;
  margin-bottom: 5px;
}

.flexRowContent--main-header-mobile{
  background: #ffff;
}

.flexRow--newsletter-box{
  background: #000;
}

.flexRow--flex-row-menu{
  width: 100%;
}

.flexRow--department-bottom{
  margin: 0px 35px 50px;
}

.flexRow--main-header{
  border-bottom: 1px solid #d1d1d1;
}

.flexRow--drawer-row{
  width: 100%;
}

.flexRowContent--flex-outlet{
  max-width: 500px;
  margin: 0px auto;
  padding-bottom: 35px;
}

.flexRow--flex-outlet{
  margin: 20px 0px 20px;
}

.flexRowContent--shelf-right{
  margin-bottom: 10px;
}

.flexRow--main-institutional-box{
  background: #f9f9f9;
}

.flexRowContent--main-institutional-box{
  justify-content: center;
}

.flexColChild--menu-inst-box{
  max-height: 85px;
}

.flexRowContent--disclosure-box .flexCol{
  max-width: 960px;
}

.flexRowContent--disclosure-box .flexColChild{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
}

.flexRow--attendance-bottom{
  max-width: 930px;
  margin: 0px auto;
}


